h2 span{
	font-size: 30pt !important;
}

div strong,
div p,
div span,
th span, 
td span{
	font-size: 14pt !important;
}

div div span{
	color: white !important;
	border-bottom: 1px solid #616161 !important;
}